<template>
  <v-container fluid>
    <div class="text-center">
      <h1 class="animate__animated animate__jackInTheBox">Hi there!</h1>
      <div class="animate__animated animate__slideInUp">
        <p>
          My name is Nicolas Loots and I am a young, ambitious software
          developer. I welcome you to my site.
        </p>
        <p>
          Stay a while, take a look around. You might find something
          interesting...
        </p>
      </div>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
.picture {
  width: auto;
  max-height: 300px;
}
h1 {
  font-size: 6em;
}
</style>
