<template>
  <v-container fluid>
    <div class="text-center">
      <img :src="require('@/assets/oof.gif')" alt="oof" />
      <p>Oof, that page does not exist.</p>
      <router-link to="/home">Return home</router-link>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
img {
  height: 300px;
  margin-bottom: 1rem;
}
p,
a {
  font-size: 1.8rem;
  text-decoration: none;
}
a {
  color: #2196f3;
  &:clicked,
  &:visited,
  &:active {
    color: #2196f3;
  }
}

@media screen and(min-width: 480px) {
  p,
  a {
    font-size: 2.5rem;
  }
}
</style>
