<template>
  <v-container fluid>
    <v-card v-for="project in projects" :key="project.title">
      <v-img :src="`${baseUrl}projects/${project.image}`"></v-img>
      <v-card-title primary-title>
        <h3 class="headline mb-0">{{ project.title }}</h3>
      </v-card-title>
      <v-card-text>
        <div>{{ project.description }}</div>
      </v-card-text>
      <v-card-actions>
        <v-btn
          v-if="project.links.preview"
          :href="project.links.preview"
          target="_blank"
          >View</v-btn
        >
        <v-btn :href="project.links.git" target="_blank">Source</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style lang="scss" scoped>
@media screen and (min-width: 480px) {
  .v-card {
    max-width: 350px;
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Project } from '../model/project';

@Component
export default class Projects extends Vue {
  baseUrl: string = process.env.BASE_URL;
  projects: Project[] = [
    {
      title: 'Red Alert',
      image: 'red-alert.png',
      description:
        // tslint:disable-next-line:max-line-length
        'Website used for the yearly Red Alert party, organised by KLJ Hamme. A countdown timer, info about the venue, line-up and more can be found here.',
      links: {
        git: 'https://gitlab.com/GXGOW/red-alert',
      },
    },
  ];
}
</script>
