<template>
  <div
    class="section"
    v-bind:style="{ 'background-color': backgroundColor }"
    v-bind:class="{ 'section__with-image': image }"
  >
    <picture v-if="image" class="animate__animated animate__fadeInUp main">
      <img :src="require('@/assets/profile.jpg')" alt="profile picture" />
    </picture>
    <div v-else class="animate__animated animate__fadeIn main header">
      <h1>{{ title }}</h1>
      <h2>{{ subTitle }}</h2>
    </div>
    <div class="description">
      <p v-for="item in descriptions" v-bind:key="item.title">
        <span class="animate__animated animate__slideInLeft">{{
          item.title
        }}</span>
        <span class="animate__animated animate__slideInRight">{{
          item.value
        }}</span>
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section__with-image {
  text-align: center;
  img {
    height: 200px;
  }
  span:first-child {
    text-align: left;
  }
}

.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 17em;
  flex-flow: column;
  padding: 0 1rem;
  .description {
    width: 100%;
  }
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
  p {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    span:first-child {
      flex: 0 0 25%;
      font-weight: bold;
    }
    span:last-of-type {
      text-align: right;
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    margin-right: 2em;
  }
  .section__with-image img {
    height: 350px;
  }

  .section {
    flex-flow: row;
    .header {
      flex: 0 0 12%;
      margin: 0 0.5rem;
      padding: 0;
      border-bottom: 0;
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 0.9em;
      }
    }
    p {
      font-size: 2em;
    }
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  name: 'SkillSection',
  props: {
    backgroundColor: {
      type: String,
      default: 'transparent',
    },
    title: String,
    subTitle: String,
    descriptions: Array,
    image: Boolean,
  },
})
export default class SkillSection extends Vue {}
</script>
