<template>
  <v-container fluid>
    <div class="container">
      <p class="text-center">You can find me on following sites</p>
      <div class="social-links">
        <a
          class="animate__animated animate__fadeInUp"
          v-ripple
          v-for="(item, index) in socialItems"
          :key="item.title"
          :href="item.route"
          :style="{ 'animation-delay': index * 0.25 + 's' }"
          target="_blank"
        >
          <v-icon x-large>{{ item.icon }}</v-icon>
          <span>{{ item.title }}</span>
        </a>
      </div>
    </div>
  </v-container>
</template>

<style lang="scss" scoped>
.container {
  height: calc(100vh - 56px - 56px - 40px);
}
.social-links {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    padding: 0.25em;
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 36px;
    &:visited {
      color: white;
    }
    &:hover {
      background: rgba($color: white, $alpha: 0.1);
      color: orange;
      .v-icon {
        color: orange;
      }
    }
  }
  span {
    margin-left: 1em;
  }
}
p {
  font-size: 1.5em;
}

@media screen and (min-width: 480px) {
  .social-links {
    flex-flow: row;
    justify-content: space-between;
    padding: 0 2rem;
    a {
      flex-flow: column;
      justify-content: center;
      span {
        margin: 0;
      }
    }
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { RouterItem } from '../model/router-item';

@Component
export default class Social extends Vue {
  public socialItems: RouterItem[] = [
    {
      title: 'LinkedIn',
      route: 'https://www.linkedin.com/in/nicolasloots/',
      icon: 'mdi-linkedin',
    },
    {
      title: 'GitHub',
      route: 'https://github.com/GXGOW',
      icon: 'mdi-github',
    },
    {
      title: 'GitLab',
      route: 'https://gitlab.com/GXGOW',
      icon: 'mdi-gitlab',
    },
  ];
}
</script>
