<template>
  <v-app>
    <v-app-bar class="animate__animated animate__slideInDown" color="blue" app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Nicolas Loots</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        class="btn-top-nav"
        v-for="routeItem in routes"
        :key="routeItem.title"
        depressed
        :to="routeItem.route"
        color="transparent"
        >{{ routeItem.title }}</v-btn
      >
      <span class="version">{{ currentVersion }}</span>
    </v-app-bar>
    <v-main>
      <transition name="fade">
        <router-view />
      </transition>
    </v-main>
    <v-bottom-navigation shift fixed>
      <v-btn
        x-large
        v-for="routeItem in routes"
        :key="routeItem.title"
        depressed
        :to="routeItem.route"
      >
        <span>{{ routeItem.title }}</span>
        <v-icon>{{ routeItem.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>

    <v-snackbar :multi-line="true" :timeout="-1" v-model="analyticsSnackbar">
      This site uses analytics in order to improve your experience.

      <template v-slot:action>
        <v-btn @click="dismiss(true)">Accept</v-btn>
        <v-btn @click="dismiss(false)">Decline</v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<style lang="scss">
@import '~animate.css';

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.headline a {
  text-decoration: none;
  color: inherit;
}

.v-btn.btn-top-nav {
  display: none;
}

p {
  font-size: 1.3rem;
}

.version {
  margin-left: 1rem;
}

.v-snack__action {
  flex-flow: column;
  .v-btn {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 480px) {
  .v-btn.btn-top-nav {
    display: inline-flex;
  }
  .v-bottom-navigation {
    display: none !important;
  }
  .v-snack__action {
    flex-flow: row;
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { RouterItem } from './model/router-item';
import { version } from '../package.json';
import { firebaseApp } from './plugins/firebase';

@Component
export default class App extends Vue {
  analyticsSnackbar = false;
  routes: RouterItem[] = [
    {
      title: 'Home',
      route: '/home',
      icon: 'mdi-home',
    },
    {
      title: 'CV',
      route: '/cv',
      icon: 'mdi-face',
    },
    {
      title: 'Projects',
      route: '/projects',
      icon: 'mdi-tablet-cellphone',
    },
    {
      title: 'Social',
      route: '/social',
      icon: 'mdi-share-variant',
    },
  ];

  private readonly ANALYTICS_RESULT = 'analyticsResult';

  mounted() {
    const analyticsResult = localStorage.getItem(this.ANALYTICS_RESULT);
    if (analyticsResult == null) {
      this.analyticsSnackbar = true;
    } else {
      firebaseApp.automaticDataCollectionEnabled = Boolean(analyticsResult);
    }
  }

  get currentVersion(): string {
    return `v${version}`;
  }

  dismiss(result: boolean): void {
    localStorage.setItem(this.ANALYTICS_RESULT, String(result));
    firebaseApp.automaticDataCollectionEnabled = result;
    this.analyticsSnackbar = false;
  }
}
</script>
